/*Helper styles*/

.oh {
    overflow: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.pt-20 {
    padding-top: 20px;
}
.pb-20 {
    padding-top: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
