{% extends "base.html" %}
{% load i18n static mezzanine_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% editable page.title %}{{ page.title }}{% endeditable %}{% endblock %}

{# {% block breadcrumb_menu %}{% endblock %} #}

{% block main %}

<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" style="background-image: url({% static "img/slides/slide00.png" %})"></div>
        <div class="swiper-slide" style="background-image: url({% static "img/slides/slide01.png" %})"></div>
        <div class="swiper-slide" style="background-image: url({% static "img/slides/slide02.png" %})"></div>
        <div class="swiper-slide" style="background-image: url({% static "img/slides/slide03.png" %})"></div>
        <div class="swiper-slide" style="background-image: url({% static "img/slides/slide04.png" %})"></div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
    
    <!-- If we need navigation buttons -->
    <div class="angle-left"><i class="fa fa-3x fa-angle-left"></i></div>
    <div class="angle-right"><i class="fa fa-3x fa-angle-right"></i></div>
    
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>

{% editable page.richtextpage.content %}
{{ page.richtextpage.content|richtext_filters|safe }}
{% endeditable %}

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/swiper/swiper.css" %}">
{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function () {
      //initialize swiper when document ready  
      var mySwiper = new Swiper ('.swiper-container', {
        autoplay: 5000,
        speed: 500,
        pagination: '.swiper-pagination',
        nextButton: '.angle-right',
        prevButton: '.angle-left',
        slidesPerView: 1,
        paginationClickable: true,
        paginationBulletRender: function (index, className) {
            return '<span class="' + className + '">' + (index + 1) + '</span>';
        },
        setWrapperSize: true,
        loop: true,
        effect: 'fade',
        scrollbarHide: true
      })
    });
</script>
{% endblock %}